<a href="https://colab.research.google.com/github/MJ-best/coding_test_study/blob/master/20230511_7%EC%9D%BC%EC%B0%A8_%EA%B5%AC%ED%98%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

체육복문제

In [19]:
n = 5
lost = [2 ,4]
reserve = [3]

In [20]:
l = set(lost)
r = set(reserve)
s = set()

l -= r
r -= l

for i in l.copy():
    if i+1 in r:
        r.remove(i+1)
        s.add(i)
    elif i-1 in r:
        r.remove(i-1)
        s.add(i)


ans = n - len(l) + len(s)
print(ans)

4

In [21]:
_reserve = [r for r in reserve if r not in lost]
_lost = [l for l in lost if l not in reserve]
for r in _reserve:
    f = r - 1
    b = r + 1
    if f in _lost:
        _lost.remove(f)
    elif b in _lost:
        _lost.remove(b)

print(n - len(_lost))

4

상하좌우 문제

In [33]:
n = 5
plans = ['R','R','R','U','D','D']

In [36]:
x = 1
y = 1
dx = [0,0,-1,1]
dy = [-1,1,0,0]
move_type = ['L','R','U','D']

for plan in plans:
    for i in range(len(move_type)):
        if plan == move_type[i]:
            nx = x + dx[i]
            ny = y + dy[i]

    if nx < 1 or ny <1 or nx > n or ny > n:
        continue

    x, y = nx, ny

print(x, y)

3 4

In [40]:
n = int(input())
plans = []
plans = input().split()

5
R R D D L

In [42]:
x = 1
y = 1

dy = [0, 0, 1, -1]
dx = [1, -1, 0, 0]
move = ['R','L','D','U']

for plan in plans:
    for i in range(len(move)):
        if plan == move[i]:
            ny = y + dy[i]
            nx = x + dx[i]
    if nx < 0 or ny < 0 or nx > n or ny > n:
        continue
    
    y = ny
    x = nx

print(y, x)

3 2

시각

In [75]:
time = []
for hour in range(24):
    for minute in range(60):
        for second in range(60):
                time.append(str(str(hour)+":"+str(minute)+":"+str(second)))

In [74]:
ans = 0
n = 5
time_index = (n+1) * 3600 - 1

for i in time[0:time_index]:
    if "3" in i:
        ans += 1

ans

11475

In [76]:
n = int(input())
ans = 0

time = []
for hour in range(24):
    for minute in range(60):
        for second in range(60):
                time.append(str(str(hour)+":"+str(minute)+":"+str(second)))

time_index = (n+1) * 3600 - 1

for i in time[0:time_index]:
    if "3" in i:
        ans += 1

ans

6

13050

왕실의 나이트

In [96]:
place = input()

x_place = ['a','b','c','d','e','f','g','h']
for i in range(len(x_place)):
    if place[0] == x_place[i]:
        x, y = i+1 , int(place[1])

print("처음위치(x,y)",x,y)

paths = ['RRU','RRD','LLU','LLD','DDR','DDL','UUR','UUL']

dx = [-1, 1, -1, 1, 2, 2, -2, -2]
dy = [2, 2, -2, -2, 1, -1, 1, -1]
move = ['RRU','RRD','LLU','LLD','DDR','DDL','UUR','UUL']

ans = 0

for path in paths:
    for i in range(len(move)):
        if path == move[i]:
            nx = x + dx[i]
            ny = y + dy[i]
    if nx <= 0 or ny <= 0 or nx > 8 or ny > 8:
            continue
    ans += 1
    print(nx, ny)

print("갈 수 있는 경우의 수 : ",ans)

e3
처음위치(x,y) 5 3
4 5
6 5
4 1
6 1
7 4
7 2
3 4
3 2
갈 수 있는 경우의 수 :  8